*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

header{
    background-color: #fff;
    height: 130px;
    width: 100%;
    padding: 15px;
}
#logo{
    padding-left: 5em;
    width: 300px;
}
.header-btns{
    float: right;
    padding-right: 15em;
    padding-top: 2em;
}
.header-btn{
    width: 60px;
    height: 40px;
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 1px;
}
#eng-btn{
    background-color: white;
    font-size: 18px;
    text-transform: uppercase;
}
#fr-btn{
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
}
.postule{
    background-color: #FFEAC5;
    padding: 5em;
    display: flex;
    width: 100%;
    height: 600px;
}
.container{
    width: 50%;
    padding-left: 4em;
}
.container1{
    padding-left: 2em;
}

.color-purple{
    color: purple;
    letter-spacing: 2px;
}
#Big{
    font-size: 3em;
}
#small{
    font-size: 30px;
}
.color-orange{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}
.heading{
    padding-bottom: 2em;
}
.postule-paragraph{
    color:  #555250;
    padding-bottom: 2em;
}
.postule img{
    width: 300px;
    position: absolute;
    left: 60%;
}
.container button{
    background-color: purple;
    width: 40%;
    height: 40px;
    border-radius: 15px;
    border: none;
}
#postule-btn{
    color: #FFEAC5;
    font-weight: bolder;
    font-size: large;
}
button i{
    padding-left: 1em;
}

/*end of postule section */



.programme{
    height: 250px;
    text-align: center;
    padding-bottom: 1em;
}
.programme h1{
    padding-top: 1em;
    padding-bottom: 5px;
    color: purple;
    font-size: 3em;
    font-weight: bolder;
}
.programme p{
    color: #555250;
}
/*end of section */



.conditions-section{
    height: 600px;
    background-color: #FFEAC5;
    padding-top: 5em;
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
}
.box1{
    
}
.boxes img{
    width: 300px;
    height: 350px;
    padding-left: 2em; 
    padding-bottom: 3em;
}

.conditions-section button{
    background-color: purple;
    width: 30%;
    height: 35px;
    border-radius: 15px;
    text-align: center;
    border: none;
    color: #FFEAC5;
    font-weight: bolder;
}
.conditions-section p{
    padding-top: 2em;
    color: #555250;
}
/*end of section */


.timer{
    background-color: #FFEAC5;
    padding-top: 3em;
    height: 300px;
}
.timer ul{
    display: flex;
}
.timer ul li{
    list-style-type: none;
    margin: ;
}
.timer-box{
    left: 50%;
    border: 1px solid rgb(88, 88, 88);
    width: 700px;
    height: 250px;
}

/*end of section*/



.form{
    padding: 4em;
    background-color: #FFEAC5;
    height: 800px;
    justify-content: center;
    text-align: center;
}
.form h1{
    color: purple;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
}
.form-inputs{
    padding-top: 2em;
    padding: 5px;
}
.form-inputs input{
    width: 50%;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    color: purple;
    box-shadow: 0px 5px 10px 0px rgba(77, 76, 76, 0.5)
}
.form-inputs p{
    color: purple;
    font-size: small;
    padding-bottom: 10px;
}
.form-inputs #message{
    padding: 50px;
}
.form p{
    color: purple;
    padding-bottom: 1em;
}
.form button{
    background-color: purple;
    padding: 5px;
    border: none;
}
.form-select-btn{
    margin: 1em;
}
.form-select-btn input{
    background-color: purple;
    padding: 5px;
    border: none;
}
#select-btn{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    color: #FFEAC5;
    font-weight: bold;
}
#submit-btn{
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    color: #FFEAC5;
    font-weight: bold;
}

/*end of section */

.partners{
    height: 200px;
}
.partners img{
    width: 150px;
    justify-content: center;
    text-align: center;
    margin-left: 5em;
    padding: 5px;
}

/*end of section */

footer{
    background-color: #FFEAC5;
    padding-top: 3em;
    background-size: contain;
}
footer p{
    padding-top: 3em;
    text-align: center;
    justify-content: center;
}



